#page-teacher-list{
    width: 100vw;
    height: 100vh;
}

#search-teachers{
    margin-top: 3.2rem;
}

#page-teacher-list main {
    margin: 3.2rem auto;
    width: 90%;
}

#page-teacher-list .select-block select[aria-checked="true"] + label{
    color:white!important;
}

#page-teacher-list #search-teachers .input-block label,select + label {
    color:var(--color-primary-lighter);
}


#page-teacher-list #search-teachers .input-block input[type="time"] + label{
    transform: translateY(-60px);
    font-size:1.3rem;
    font-weight: bold;
    color: white !important;
}

#search-teachers button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-secondary);
    outline: 0;
    border:0;
    color:var(--color-button-text);
    cursor: pointer;
    border-radius: 0.8rem;
    font:700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.2s;
    margin-top:3.2rem;
}

#search-teachers button:hover {
    background: var(--color-secondary-dark);
}

@media (min-width: 700px){
    #page-teacher-list {
        max-width: 100vw;
    }

    #search-teachers {
        display: grid;
        grid-template-columns: repeat(4,1.5fr);
        column-gap: 16px;
        align-items: center;
        position: absolute;
        bottom: -120px;
    }

    #search-teachers .input-block input,
    #search-teachers .select-block select{
        margin-top: 0;
        margin-bottom: 0;
    }

    #search-teachers button {
        margin-top: 0;
    }


    #search-teachers .input-block {
        position: relative;
        margin: 0;
    }
    
    #page-teacher-list main {
        padding: 32px;
        max-width: 740px;
    }
}





